/Clase 1/Test1/JavaApplication5/nbproject/private/
/Clase 1/Test1/JavaApplication5/build/
/Clase 1/Labo1/Labo1/nbproject/private/
/Clase 1/Labo1/Labo1/build/
/Semana_06/App/nbproject/private/
/Semana_15/App/nbproject/private/
/Semana_15/FinalAlgo2-madrid-giacomo/nbproject/private/
